{% extends "blogs/base.html" %}
{% block header %}
<h2>Posts</h2>
{% endblock header %}

{% block content %}
    {% if request.user.id != None %}
    <h4>
    <a href="{% url 'blogs:new_post' %}">Add a new post</a>
    </h4>
    {% endif %}

  {% for post in posts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
          {{ post.date_added|date:'M d, Y H:i' }}
          {{ post.owner }}
          {% if post.owner.id == request.user.id %}
          <small>
            <a href="{% url 'blogs:edit_post' post.id %}">
              edit post</a>
          </small>
          {% endif %}
        </h4>
      </div>
      <div class="panel-body">
        <h4>{{ post.title|linebreaks }}</h4>
        {{ post.text|linebreaks }}
      </div>
    </div> <!-- panel -->
  {% empty %}
    No posts have been added yet.
  {% endfor %}

{% endblock content %}